{% extends "components/modal.html" %}

{% block modalTrigger %}
{% if user_is_admin %}
<button type="button" class="btn fixed-button btn-primary btn-floating"
    style="position: fixed; bottom: 100px; right: 200px;">
    &#10010;
</button>
{% endif %}
{% endblock %}

{% block modalBody %}
<form action="/categories" method="post">
    <div class="modal-header">
        <h5 class="modal-title" id="categoryModalLabel">Create Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <label for="name" class="form-label">Category Name</label>
            <input type="text" name="name" id="name" class="form-control form-control-lg" required>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create Category</button>
    </div>
</form>
{% endblock %}