{% if user_is_admin %}
<div data-bs-toggle="modal" data-bs-target="#deleteCategoryModal{{index}}">
    <div data-bs-toggle="modal" data-bs-target="#deleteCategoryModal{{index}}">
        <button class="btn btn-danger edit-btn">Delete</button>
    </div>
</div>
{% endif %}

<div class="modal fade" id="deleteCategoryModal{{index}}" tabindex="-1" aria-labelledby="deleteCategoryModalLabel"
    aria-hidden="true">
    <div class="modal-dialog d-flex align-items-center" style="height: 90vh;">
        <div class="modal-content">
            <form action="/category/{{category_name}}/delete" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteCategoryModalLabel">Delete Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <h5 class="modal-body">Are you sure you want to delete {{category_name}} category?</h5>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete Category</button>
                </div>
            </form>
        </div>
    </div>
</div>