{% extends "./layouts/base.html" %}

{% block head %}
<title>{{category.name}} Category | freskKart</title>
{% endblock %}

{% block body %}
{% if products %}
<h1>{{category}}</h1>
{% else %}
<div class="container d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="alert d-flex flex-column gap-3 alert-danger text-center p-5" role="alert" role="alert"
        style="max-width: 500px">
        <h4>No products were found for the category <strong>{{ category.name }}</strong>.</h4>
        <a href="/">Back to homepage</a>
    </div>
</div>

{% include "components/product/create.html" %}
{% endif %}
{% endblock %}