{% extends "./layouts/base.html" %}

{% block head %}
<title>Categories</title>
{% endblock %}

{% block body %}
<main>
    <h1 class="px-5 mb-4">Categories</h1>
    {% for category in categories %}
    {% set category_name, index = category.name, loop.index %}
    <div class="rounded d-flex justify-content-between align-items-center bg-light p-4 mb-3 border border-secondary"
        style="max-width: 700px; margin: 0 auto;">
        <a href="/category/{{category.name}}">{{ category.name }}</a>

        {% if user_is_admin %}
        <div class="d-flex gap-3">
            <div>{% include "components/category/delete.html" %}</div>
            <div>{% include "components/category/update.html" %}</div>
        </div>
        {% endif %}
    </div>
    {% endfor %}

    {% include "components/category/create.html" %}
</main>

{% endblock %}