{% extends "./layouts/base.html" %}

{% block head %}
<title>freshKart</title>
{% endblock %}

{% block body %}
<main class="d-flex gap-5 flex-column">
    {% for category in categories %}
    <div class="d-flex justify-content-between align-items-center px-5">
        <h1>{{category}}</h1>
        <a href="/category/{{category}}">View more</a>
    </div>

    {% if categories[category]|length > 0 %}
    <div class="row row-cols-4 g-4 px-4">
        {% for product in categories[category] %}
        <div class="col">
            {% include "components/product/show.html" %}
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="container d-flex justify-content-center align-items-center">
        <div class="alert d-flex flex-column gap-3 alert-danger text-center p-5" role="alert" role="alert"
            style="max-width: 500px">
            <h4>No products were found for the category <strong>{{ category.name }}</strong>.</h4>

            {% if user_is_admin %}
            <a href="/category/{{category}}">Create new products for {{category}}</a>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
</main>
{% endblock %}