<header class="d-flex container-fluid justify-content-between bg-dark px-5 py-2">
  <section class="d-flex align-items-center">
    <h3 class="text-white d-flex align-items-center mb-0">
      <a href="/" class="link-underline font-weight-bold link-underline-opacity-0 text-white">
        freshKart
      </a>
    </h3>
  </section>

  <nav class="d-flex gap-4 align-items-center">
    <section class="d-flex gap-4 align-items-center">
      <ul class="navbar-nav mr-auto dflex gap-3">
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Categories
            </button>
            <ul class="dropdown-menu">
              {% for category in categories_list %}
              <li>
                <a class="dropdown-item" href="/category/{{category.name}}">{{category.name}}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </li>
      </ul>

      {% include "components/search.html" %}
    </section>

    <section class="ml-auto d-flex align-items-center gap-4">
      {% if session.name %}
      <h5 class="text-white mb-0">Hello {{session.name}}</h5>
      {% endif %} {% if user_is_logged_in %}
      <form action="/auth/logout" method="post" class="d-flex align-items-center gap-4">
        <a href="/cart" class="btn btn-secondary">Cart</a><a href="/orders" class="btn btn-secondary">Orders</a>
        <button class="btn btn-primary">Logout</button>
      </form>
      {% else %}
      <a href="/auth/login" class="btn btn-primary">Login</a>
      <a href="/auth/register" class="btn btn-secondary">Register</a>
      {% endif %}
    </section>
  </nav>
</header>