{% extends "layouts/base.html" %}

{% block head %}
<title>Register new user</title>
{% endblock %}

{% block body
%}
<div class="container d-flex justify-content-center align-items-center">
  <form action="/auth/register" method="post" class="w-50 p-4 bg-light rounded border border-secondary mt-4">
    <div class="mb-3">
      <label for="fname" class="form-label">First Name</label>
      <input type="text" name="fname" id="fname" class="form-control form-control-lg" required>
    </div>

    <div class="mb-3">
      <label for="lname" class="form-label">Last Name</label>
      <input type="text" name="lname" id="lname" class="form-control form-control-lg">
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email ID</label>
      <input type="email" name="email" id="email" class="form-control form-control-lg" required>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" id="password" class="form-control form-control-lg" required>
    </div>

    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirm Password</label>
      <input type="password" name="confirmPassword" id="confirmPassword" class="form-control form-control-lg" required>
    </div>

    {% if error_msg %}
    <div class="alert alert-danger" role="alert">
      {{ error_msg }}
    </div>
    {% endif %}

    <div class="d-grid mt-3">
      <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </div>

    <div class="mt-3 text-center">
      <p>Already have an account? <a href="/auth/login">Login</a></p>
    </div>
  </form>
</div>

{% endblock %}